body {
	font-family: '-Apple', sans-serif;
	background: linear-gradient(to bottom right, #91B5EA, #939BE3);
	padding:0px;
	margin:0px;
	width: 100vw;
	height: 100vh;
	position: relative;
}
.container {
	font-size: 17px;
	display: flex;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.left {
	background-color: white;
	width: 415px;
	height: 520px;
	padding: 50px;
	padding-top: 15px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	
}

.right {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #4935D4;
	width: 415px;
	height: 520px;
	padding: 50px;
	padding-top: 15px;
	line-height: 18px;
}

.form1, .form2{
	width: 100%;
 	height: 100%;
}
#street {
	margin-top: 12px;
}

#title, #position, #country {
	width: 83%;

}
#company, #street, #email, textarea {
	width: 79%;
}

#LastName {
	width: 36.7%;
	margin-left: 10px;
}

#area {
	width: 39%;
	margin-right: 10px;
}
#employees {
	width: 37%;
}
#employees {
	padding: 4px;
	vertical-align: bottom;
}
#place {
	vertical-align: bottom;
}

textarea {
	resize: none;
}
#zipcode, #number {
	width: 15.9%;
}

#place {
	width: 60.3%;
	margin-left: 10px;
}
#phone {
	width: 56.3%;
	margin-left: 10px;
}

.content1 {
	width: 500px;
}
.content2 {
	width: 500px;

	
}

#title, #FirstName, #LastName, #position, #company, 
#area, #employees, #street, textarea, #zipcode, #place, 
#country, #number, #phone, #email, #radio, input[type=submit] {
	border: none;
	padding: 10px;
	border-bottom: 0.2px solid #D6D2F5;
	outline: none;
}
textarea {
	margin-top: 0px;
}

#street, textarea, #zipcode, #place, #country, #number, #phone, 
#email, #radio{
	background-color: #4935D4;
	color: #D6D2F5;
}
#street::placeholder, textarea::placeholder, #zipcode::placeholder, 
#number::placeholder, #phone::placeholder, 
#email::placeholder, #radio {
	background-color: #4935D4;
	color: #D6D2F5;
}
.left input {
	color: gray;
}
#title, #position, #employees {
	background-color: white;
	color: gray;
}
input[type=submit] {
	margin-top: 30px;
	background-color: white;
	font-weight: bold;
	border-radius: 20px;
	border-color: white;
	border-style: solid;
	border-width: 1px;
	padding: 12px;
	font-size: 13px;
}
#radio {
	width: 10px;
	appearance:none;
	border: 1px solid white;
	border-radius: 50%;
	padding:6px;
	margin-left: 0px;
	margin-top: 10px;
}
#radio:checked {
	background-color: white;
	border:2px solid #4935D4;
	box-shadow: 0 0 0 0.1em white;
	padding: 5px;
	resize: none;

}
label {
	margin-top: 10px;
	margin-left: 10px;
	color: white;
	font-size: 13.4px;
}
#radio, label {
	vertical-align: bottom;
}

a {
	color: inherit;
	font-weight: bold;
}
span {
	margin-left: 29px;
}
.form1 h2 {
	color: #5E85D5;
	font-weight: lighter;
}
.form2 h2 {
	color: white;
	font-weight: lighter;
}
.foot {
	line-height: normal;
}